.nav{
    background: white;
   max-width: 400px;
    height: 100vh;
    border: 1px solid lightgrey;
}
.item{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    text-align: center;
 }
.item a {
    color: darkgray;
    text-decoration: none;
}
.item a:hover {
   background: lightgrey;
    border-radius: 5px ;

}
.item a.active{
    color: #242842;
}
.friends{
    margin-top: 80px;
   text-align: center;

}
.friends a{
    color:darkgray;

    font-size: 20px;

    text-decoration: none;

}
.image{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.image img{
  width: 40px;
    border-radius: 50%;

}