.header {
    height: 70px;
    background: #242842;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.icon  {
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50%;*/
}
.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*border: 1px solid white;*/
}

.login {
    color: white;
    font-weight: bold;
    text-align: right;
    margin-right: 30px;
}

.login a {
    color: white;
    font-weight: bold;
}