
.app-wrapper{
 width: 100vw;
 height: 600px;
 margin: 0 auto;
 display: grid;
 grid-template-areas:
'h h'
 'n c';
 grid-template-rows: 60px 1fr;
 grid-template-columns:2fr 10fr ;



}
.header{
grid-area: h;
 background: lightgreen;
}
header img{
 width: 30px;
}
.nav{
 background: lightskyblue;
 grid-area: n;
}
.contains{
 background: lightgrey;
 grid-area: c;
}
.contains img{
 width: 600px;
 height: 100px;
}