.dialogsContent{
 margin-top: 20px;
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.users{
 /*text-decoration: none;*/

}
.user a{
 text-decoration: none;
 color: #242842
}
.user a:hover{
 text-decoration-line: underline;
 text-decoration-color:#242842 ;
 color: #242842
}
.dialogs{
 /*margin-left: 100px;*/
 display: flex;
 flex-direction: column;

}
.dialog{

}
.window{
 width: 40%;
 height: 50px;
 border: 2px solid #ccc;
 border-radius: 4px;
 resize: none;
}
.window:focus {
 outline: none !important;
 border-color: #555555;
 box-shadow: 0 0 10px #719ECE;
}
img{
 width: 20px;
}
